# Игнорируем системные файлы
.DS_Store
Thumbs.db
desktop.ini

# Игнорируем временные файлы Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Игнорируем драйверы
*.exe
*.zip

# Игнорируем все остальные папки
../*
!../
